body {
    
    box-sizing: border-box;
    display: flex;
    
}
.container {
    border-style: solid;
    border-color: black;
    flex-wrap: wrap;
    margin:0;
    box-sizing: border-box;
    width:960px;
    height: 960px;
    display: flex;
    

}

.gridBox {
    display: flex;
    border-style: solid;
    border-color:black;
    justify-content: flex-start;
    aspect-ratio: 1/1;
    width: 6.25%;
    margin:0;
    box-sizing: border-box;
}



.newButton {
    display:flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
    align-items: baseline;
    height: 50px;
}